h1 {
    color: blue;
}

.titre {
    color: brown;
}

#TitrePrincipale {
    color: purple;
}

.Left {     
    text-align: left;
}

.Center {
text-align: center;
    color: blue;
}

.Justify {
    text-align: justify;
}

.Right {
    text-align: right;
}

.carre {
    width: 150px;
    height: 150px;
    background-color: dimgrey;
    margin: 10px;
    padding: 15px;
    color: white;
    text-align: center;
    /* 3px dotted rgb(45, 45, 45); */
    border : 3px solid rgb(45, 45, 45);
    border-radius: 90px;
}
.une{
    border : 10px dotted rgba(222, 188, 19, 0.889)
}
.deux{
    border: 5px solid;
    background-color: #FF4685;
}
.trois{
    background-color: #FF6321;
    
}
.quatre{
    background-color: #ff4231;
}

.cinq{
    background-color: #FF4598;

}